[submodule "amazon-catalog"]
	path = amazon-catalog
	url = https://github.com/samuelc92/amazon-catalog
[submodule "amazon-basket"]
	path = amazon-basket
	url = https://github.com/samuelc92/amazon-basket
